// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../fonts.scss';

#register-form, 
#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #36393f;
    color: #aaacb0;
    border-radius: 5px;
    width: 480px;
}

#register-form {
    height: 380px;
}

#login-form {
    height: 360px;
}

#register-form > h4,
#login-form > h4 {
    color: #ffffff;
    font-size: 30px;
    font-family: $mukta;
    font-weight: bolder;
    padding-bottom: 10px;
}

#register-form label,
#login-form label {
    font-size: 14px;
    font-family: $mukta;
    font-weight: 700;
}

#register-form p,
#login-form p {
    font-size: 14px;
    font-family: $sans;
    padding-bottom: 10px;
}

#register-form form,
#login-form form {
    width: 100%;
}

#register-form input,
#login-form input {
    width: 95%;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #30333a;
    color: #ffffff;
    font-family: $lato;
    border: 1px solid #222327;
    padding-left: 10px;
    padding-right: 10px;
}

#register-form button,
#login-form button {
    width: 99%;
    background-color: #5866f2;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    font-family: $mukta;
    margin-bottom: 10px;
    padding: 0;
    border: none;
}

#register-form button:hover,
#login-form button:hover {
    background-color: #505cdd;
    cursor: pointer;
}

#register-form button:active,
#login-form button:active {
    background-color: #3d45a5;
    cursor: pointer;
}

#form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: image_url('background.png');
}

a {
    text-decoration: none;
    color: #00aff4
}

#register-form .bottom,
#login-form .bottom {
    align-self: flex-start;
}

#register-form .field-error,
#login-form .field-error {
    color: #ed4245;
}

#register-form .input-error,
#login-form .input-error {
    border: 1px solid #ed4245;
}