@import '../fonts.scss';

// user list

.user-list {
    height: 100%;
    width: 240px;
    margin-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: #2f3136;
}

.user-list .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 10px;
    width: 210px;
}

.user-list-item:hover {
    background: #36393f;
    cursor: pointer;
}

.user-list-item .user-list-avatar {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.user-list-item .user-list-name {
    color: #fefefe;
    font-size: 16px;
    font-family: $lato;
    padding-left: 15px;
}

// channels

.channel-list {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    z-index: 2;
    margin-left: 70px;
}

.channel-list .channels {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-left: 25px;
    padding-top: 60px;
}

.channel-list-item {
    color: #8d9297;
    font-size: 16px;
    font-family: $lato;
    font-weight: 600;
}

.channel-list-item:hover {
    color: #fefefe;
}

.channels a {
    text-decoration: none;
}

.channels a:hover {
    text-decoration: none;
}

.channel-div .server-name {
    margin-left: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 240px;
    height: 50px;
    border-bottom: 2px solid #232529;
    box-shadow: 0px 2px #2c2e34;
}

.server-name .server-name-text {
    font-size: 18px;
    color: #fefefe;
    font-family: $lato;
    padding-left: 25px;
}

.channel-main .channel-topic {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin-left: 310px;
    margin-right: 240px;
    height: 50px;
    border-bottom: 2px solid #232529;
    box-shadow: 0px 2px #2c2e34;
}