@import '../fonts.scss';

// user list

.user-list {
    height: 100%;
    width: 240px;
    // margin-top: 50px;
    position: fixed;
    top: 54px;
    right: 0;
    background: #2f3136;
    z-index: 10;
    // border-top: 2px solid #232529;
    // box-shadow: 0px 2px #2c2e34;
    box-sizing: border-box;
}

.user-list .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 10px;
    width: 210px;
}

.user-list-item:hover {
    background: #36393f;
    cursor: pointer;
    color: #fefefe;
}

.user-list-item .user-list-avatar {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.user-list-item .user-list-name {
    color: #8d9297;
    font-size: 16px;
    font-family: $lato;
    padding-left: 15px;
}

.user-list-item:hover .user-list-name {
    color: #fefefe;
}

// channels

.channel-list {
    left: 70px;
    top: 0;
    position: fixed;
    height: calc(100% - 50px);
    width: 240px;
    z-index: 10;
    box-sizing: border-box;
}

.channel-list .channels {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    margin-left: 10px;
    padding-top: 52px;
}

.channel-list-item {
    color: #8d9297;
    font-size: 16px;
    font-family: $lato;
    font-weight: 600;
}

.channel-list-item:hover {
    color: #fefefe;
}

.channels a {
    text-decoration: none;
}

.channels a:hover {
    text-decoration: none;
}

.channel-div .server-name {
    left: 70px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 50px;
    background: #2f3136;
    border-bottom: 2px solid #232529;
    box-shadow: 0px 2px #2c2e34;
}

.channel-div .server-name:hover {
    background: #383d43;
}

.channel-div .server-name-down-arrow {
    color: #8d9297;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.channel-div .server-name-down-arrow:hover {
    cursor: pointer;
}

.server-name .server-name-text {
    font-size: 18px;
    color: #fefefe;
    font-family: $lato;
    padding-left: 25px;
    font-weight: 700;
}

.channel-main .channel-topic {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin-left: 310px;
    margin-right: 240px;
    height: 50px;
    border-bottom: 2px solid #232529;
    box-shadow: 0px 2px #2c2e34;
}

.channels a .selected-channel {
    color: #fefefe;
    font-weight: 700;
}

#channel-header-name {
    position: absolute;
    z-index: 10;
    color: #fefefe;
    font-family: $lato;
    margin-left: 330px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

#channel-header-name span {
    color: #8d9297;
    font-weight: 400;
}

.member-count {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: $mukta;
    color: #8d9297;
    font-weight: 600;
}

.text-channels-header {
    width: 215px;
    color: #8d9297;
    font-family: $mukta;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-channel {
    font-size: 18px;
}

.add-channel:hover {
    cursor: pointer;
}

.chan-hashtag {
    color: #8d9297;
    font-weight: 300;
    font-size: 18px;
}

#channel-message-container {
    position: fixed;
    margin-left: 310px;
    padding-right: 240px;
    padding-top: 100px;
    height: calc(100vh - 50px);
    width: calc(100% - 550px);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    bottom: 0;
    left: 310;
    flex-grow: 1;
    line-height: 1.7;
}

#type-message-form {
    height: 50px;
    width: 100%;
}

#type-message-form input {
    width: calc(100% - 40px);
    border-radius: 3px;
    height: 35px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: #3f454b;
    color: #ffffff;
    font-family: $lato;
    border: none;
    flex-grow: 1;
    margin-left: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

#type-message-form button {
    display: none;
}

.message-username {
    color: #fafafa;
    font-family: $mukta;
    font-weight: 500;
    font-size: 18px;
}

.message-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.message-body {
    color: #dcddde;
    font-family: $mukta;
    font-weight: 300;
    overflow-wrap: anywhere;
}

.channel-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.channel-message:hover {
    background: #33343b;
}

.channel-message-list {
    overflow-y: scroll;
    position: fixed;
    padding-right: 240px;
    padding-top: 100px;
    height: calc(100vh - 110px);
    width: calc(100% - 550px);
    bottom: 50px;
}

.message-timestamp {
    color: #5d6167;
    font-family: $lato;
    font-size: 14px;
    margin-left: 20px;
}

.server-name-down-arrow:hover {
    color: #ffffff;
}