@import '../fonts.scss';

.modal-background {
    z-index: 50;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}

#user-settings-container {
    z-index: 101;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#user-settings-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: #2f3136;
    height: 100%;
    width: 30%;
    position: fixed;
    left: 0;
}

#user-settings-right {
    left: 30%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #36393f;
    height: 100%;
    width: 70%;
}

.user-settings-nav-bar {
    padding-right: 20px;
    font-family: $mukta;
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 5px;
    color: #b3b4b8;
    word-spacing: 1px;
    line-height: 1.5;
}

.user-settings-header {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: $mukta;
}

.my-account,
.logout {
    cursor: pointer;
}

.my-account:hover,
.logout:hover {
    color: #f3f3f3;
}

.logout {
    color: #ed4245;
}

.close-modal-x {
    margin-left: 430px;
    margin-bottom: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid #b3b4b8;
    border-radius: 50%;
    font-size: 28px;
    color: #b3b4b8;
}

.close-modal-x:hover {
    cursor: pointer;
    background: #2f3136;
}

.close-modal-x:active {
    cursor: pointer;
    background: #222327;
}

#user-settings-form-container {
    margin-left: 30px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #2f3136;
    border-radius: 10%;
}

#user-settings-form-container button {
    margin-left: 10%;
    width: 80%;
    background-color: #5866f2;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    font-family: $mukta;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    margin-top: 20px;
}

#user-settings-form-container button:hover {
    background-color: #505cdd;
    cursor: pointer;
}

#user-settings-form-container button:active {
    background-color: #3d45a5;
    cursor: pointer;
}

.update-user-form {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.update-user-form input {
    border: none;
    color: #f3f3f3;
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    border-radius: 3px;
    height: 45px;
    font-size: 16px;
    background-color: #36393f;
}

#user-settings-form-container label {
    margin-left: 10%;
    padding-bottom: 3px;
    padding-top: 5px;
    padding-left: 2px;
    color: #babbbf;
    font-family: $mukta;
    font-weight: 600;
    font-size: 14px;
}

.delete-account-button {
    border: 1px solid #ed4245;
    color: #ed4245;
    margin-left: 35px;
    margin-top: 20px;
    background: none;
    font-size: 18px;
    font-weight: 500;
    font-family: $mukta;
    border-radius: 2px;
}

.delete-account-button:hover {
    background: #2f3136;
    cursor: pointer;
}

.settings-avatar {
    position: absolute;
    border-radius: 50%;
    margin-bottom: 270px;
    margin-left: 30px;
    height: 144px;
    width: 144px;
    border: 4px solid #f3f3f3;
}

.settings-avatar:hover {
    cursor: pointer;
    // replace to make avatar background darker on hover
}

.my-account-header {
    margin-bottom: 220px;
    margin-right: 200px;
    font-weight: 700;
    font-family: $lato;
    color: #f3f3f3;
    font-size: 20px;
}

.create-server-form-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 560px;
    width: 450px;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.create-server-form-container h3 {
    font-family: $mukta;
    font-weight: 700;
    font-size: 26px;
    color: #060607;
}

.create-form-subtext {
    font-family: $lato;
    font-size: 16px;
    color: #525964;
    text-align: center;
    line-height: 1.5;
    width: 400px;
}

.create-server-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-server-form {
    width: 100px;
    height: 40px;
    color: #f3f3f3;
    text-align: center;
    font-family: $mukta;
    font-weight: 500;
    font-size: 16px;
    background: #5866f2;
    border: none;
    border-radius: 3px;
}

.submit-server-form:hover {
    background: #505cdd;
    cursor: pointer;
}

.submit-server-form:active {
    background: #3d45a5;
}

.nav-links-server-form {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-links-server-form-back {
    font-family: $mukta;
}

.nav-links-server-form-back:hover {
    cursor: pointer;
}

.server-create-button-option {
    height: 90px;
    width: 420px;
    font-family: $mukta;
    font-weight: 700;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.server-create-button-option:hover {
    background: #b3b4b8;
    cursor: pointer;
}

.selected-form-button {
    background: #8f9093;
}

.all-caps-form {
    font-family: $mukta;
    font-weight: 700;
    font-size: 18px;
}

.enter-a-server-name {
    width: 420px;
    border: 1px solid #525964;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: $mukta;
    font-size: 16px;
}

.left-align-server-form {
    width: 420px;
}

.button-img-server-form {
    height: 40px;
    width: 40px;
}

.error-button {
    border: 1px solid #ed4245;
}

.field-error {
    color: #ed4245;
}

.input-error {
    border: 1px solid #ed4245;
}

.field-error span {
    font-weight: 300;
    font-size: 16px;
}

// update/delete server crud

.update-server-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 400px;
    background: #36393f;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.update-server-header {
    padding-top: 20px;
    font-family: $mukta;
    font-weight: 700;
    font-size: 24px;
    color: #f3f3f3;
}

.update-server-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.update-server-input {
    width: 300px;
    height: 30px;
    color: white;
    background: #525964;
    border-radius: 5px;
    border: none;
    font-family: $mukta;
    font-size: 18px;
    box-sizing: border-box;
    margin: 10px;
}

.update-server-button {
    width: 300px;
    height: 30px;
    background: #5866f2;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: $mukta;
    box-sizing: border-box;
    margin: 10px;
    border: none;
}

.update-server-button:hover {
    background-color: #505cdd;
    cursor: pointer;
}

.update-server-button:active {
    background-color: #3d45a5;
    cursor: pointer;
}

.delete-server-button {
    border: 1px solid #ed4245;
    color: #ed4245;
    background: none;
    font-size: 18px;
    font-weight: 500;
    font-family: $mukta;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 10px;
}

.delete-server-button:hover {
    background: #2f3136;
    cursor: pointer;
}

.error-display {
    font-size: 14px;
    font-family: $mukta;
    font-weight: 300;
    color: #ed4245;
}

.error-input {
    border: 1px solid #ed4245;
}

// create channel 

.create-channel-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
    width: 400px;
    background: #36393f;
    border-radius: 10px;
}

.channel-create-header {
    font-family: $mukta;
    font-weight: 700;
    color: #f3f3f3;
    font-size: 22px;
}

.channel-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.channel-create-button {
    width: 300px;
    height: 30px;
    background: #5866f2;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: $mukta;
    box-sizing: border-box;
    margin: 10px;
    border: none;
}

.channel-create-button:hover {
    background-color: #505cdd;
    cursor: pointer;
}

.channel-create-button:active {
    background-color: #3d45a5;
    cursor: pointer;
}

.channel-create-input {
    width: 300px;
    height: 30px;
    color: white;
    background: #525964;
    border-radius: 5px;
    border: none;
    font-family: $mukta;
    font-size: 18px;
    box-sizing: border-box;
    margin: 10px;
}

.error-input {
    border: 1px solid #ed4245;
}

.error-list-channel-create {
    color: #ed4245;
    font-size: 14px;
    font-family: $mukta;
    font-weight: 300;
}

// public server list modal 

.public-servers-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 20;
    height: 500px;
    width: 400px;
    background: #f3f3f3;
    color: #46494f;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.public-servers-list {
    height: 400px;
    width: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
}

.public-server-list-item {
    border: 1px solid #46494f;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $mukta;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
}

.server-list-rand-icon {
    margin-right: 25px;
}

.left-justify-public-server {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.join-server-button {
    margin-right: 10px;
    background-color: #5866f2;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    width: 60px;
    font-family: $mukta;
    padding: 0;
    border: none;
}

.join-server-button:hover {
    background-color: #505cdd;
    cursor: pointer;
}

.join-server-button:active {
    background-color: #3d45a5;
    cursor: pointer;
}

.join-public-server-header {
    font-family: $mukta;
    font-weight: 700;
    font-size: 28px;
    color: #222327
}

.close-public-server-modal {
    margin-left: 350px;
}

.close-public-server-modal:hover {
    cursor: pointer;
}

// leave server 

.leave-server-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 300px;
    z-index: 30;
    background: #222327;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.leave-server-modal h3 {
    color: #f3f3f3;
    font-family: $mukta;
    font-size: 18px;
    font-weight: 700;
}

.leave-server-button {
    width: 260px;
    height: 35px;
    border: none;
    box-sizing: border-box;
    color: #f3f3f3;
    background: #ed4245;
    border-radius: 5px;
    font-weight: 700;
}

.leave-server-button:hover {
    cursor: pointer;
    background: #be1d1f;
}

.leave-server-button:active {
    background: #910a0c;
}

// update channel

.update-channel-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 250px;
    width: 400px;
    background: #2f3136;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.update-channel-container button {
    font-family: $mukta;
    border-radius: 5px;
    width: 350px;
    height: 35px;
    color: #f3f3f3;
    font-size: 16px;
}

.update-channel-container h3 {
    font-family: $mukta;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.update-channel-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    margin-bottom: 10px;
}

.update-channel-container p {
    font-family: $mukta;
    color: #ed4245;
    position: absolute;
}

.update-channel-input,
.update-channel-input-error {
    height: 35px;
    width: 350px;
    background: #525964;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: #f3f3f3;
    font-family: $lato;
    font-weight: 300;
    padding-left: 10px;
}

.update-channel-input-error {
    border: 1px solid #ed4245;
}

.update-channel-button,
.update-channel-button-error {
    background: #5866f2;
    border: none;
}

.update-channel-button:hover,
.update-channel-button-error:hover {
    cursor: pointer;
    background: #505cdd;
}

.update-channel-button:active,
.update-channel-button-error:active {
    background: #3d45a5;
}

.delete-channel-button {
    background: #ed4245;
    border: none;
}

.delete-channel-button:hover {
    background: #be1d1f;
    cursor: pointer;
}

.delete-account-button:active {
    background: #910a0c;
}

// create convo

.create-convo-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #2f3136;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-convo-container h3 {
    margin-top: -50px;
    margin-bottom: 50px;
    color: #f3f3f3;
    font-size: 24px;
    font-weight: 700;
    font-family: $mukta;
}

.create-convo-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-convo-container input {
    background: #72767d;
    font-family: $lato;
    width: 450px;
    height: 80px;
    font-size: 20px;
    color: #f3f3f3;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    margin-top: -15px;
}

.create-convo-button {
    position: absolute;
    height: 35px;
    width: 100px;
    background: #5866f2;
    border: none;
    color: #f3f3f3;
    margin-left: 330px;
    font-family: $lato;
    font-weight: 700;
    margin-top: -10px;
    border-radius: 5px;
}

.create-convo-button:hover {
    cursor: pointer;
    background: #505cdd;
}

.create-convo-button:active {
    background: #3d45a5;
}

.placeholder {
    text-align: center;
    font-family: $mukta;
    color: #f3f3f3;
    margin-top: 30px;
    font-size: 16px;
    width: 700px;
}