.server-div {
    width: 70px;
    height: 100%;
    background: #212225;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.server-icon {
    height: 50px;
    width: 50px;
    margin: 10px;
    background: #36393f;
    border-radius: 50%;
}

.server-icon:hover {
    border-radius: 35%;
    cursor: pointer;
}

