@import '../fonts.scss';

.link-to-server {
    text-decoration: none;
}

.link-to-server:hover {
    text-decoration: none;
}

.server-div {
    width: 70px;
    height: 100%;
    background: #212225;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.server-icon {
    height: 50px;
    width: 50px;
    margin: 10px;
    background: #36393f;
    border-radius: 50%;
    text-align: center;
    font-family: $lato;
    color: #fefefe;
    text-decoration: none;
    font-size: 20px;
    line-height: 2.3;
}

.server-icon:hover {
    border-radius: 35%;
    cursor: pointer;
    text-decoration: none;
    color: #5866f2
}

.disco-line {
    height: 2px;
    width: 50px;
    background: #2d2e32;
    margin-left: 10px;
}

.server-list .profile .fa-discord {
    color: #fefefe;
    text-align: center;
    font-size: 30px;
    line-height: 1.6;
    padding-left: 1px;
}

.server-list .profile:hover {
    background: #5866f2;
}

.add-server {
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
    color: #3ba55d;
}

.public-servers .fa-compass {
    text-align: center;
    font-size: 24px;
    line-height: 2;
    color: #3ba55d;
}

.add-server:hover,
.public-servers:hover {
    background: #3ba55d;
}

.add-server:hover,
.public-servers .fa-compass:hover {
    color: white;
}

.fa-compass {
    padding-right: 9px;
}

#backdrop {
    background: #36393f;
    z-index: -10;
    width: 100%;
    height: 100%;
    position: absolute;
}

