.server-div {
    width: 70px;
    height: 100%;
    background: #212225;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.server-icon {
    height: 50px;
    width: 50px;
    margin: 10px;
    background: #36393f;
    border-radius: 50%;
}

.server-icon:hover {
    border-radius: 35%;
    cursor: pointer;
}

.disco-line {
    height: 2px;
    width: 50px;
    background: #2d2e32;
    margin-left: 10px;
}

.server-list .profile {
    background-image: image_url('Pastel-Black.png');
    background-size: 50px 50px;
}

.add-server:hover,
.public-servers:hover {
    background: #3ba55d;
}