@import '../fonts.scss';

#channel-bg {
    height: 100%;
    width: 240px;
    z-index: 5;
    position: fixed;
    background: #2f3136;
    bottom: 0;
    left: 70px;
}

#own-settings {
    position: fixed;
    left: 70px;
    height: 50px;
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #292b2f;
    z-index: 50;
    bottom: 0;
}

#own-avatar {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#handle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: $lato;
}

#own-username {
    color: #fefefe;
    font-size: 16px;
}

#own-tag {
    color: #babbbf;
    font-weight: 300;
    font-size: 12px;
}

.fas {
    color: #fefefe;
    margin-left: 10px;
    z-index: 40;
}

.fas:hover {
    cursor: pointer;
}

#own-settings-icons {
    z-index: 70;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#own-attributes {
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}