@import '../fonts.scss';

.splash {
    width: 100%;
    height: 100%;
}

.splash p {
    font-family: $lato;
    font-weight: 300;
    font-size: 18px;
}

#splash-components {
    display: flex;
    flex-direction: column;
}

.splash a {
    text-decoration: none;
}

.splash a:hover {
    text-decoration: underline;
}

.splash h3 {
    font-family: $mukta;
    font-size: 40px;
    font-weight: 700;
    width: 300px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #404eed;
    font-family: $mukta;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

#header-images {
    display: flex;
    flex-direction: row;
}

#splash-head-clouds {
    position: absolute;
}

#splash-head-left {
    padding-top: 274px;
    // padding-left: -30%;
    left: 50%;
    margin-left: -1030px;
    position: absolute;
}

#splash-head-right {
    padding-top: 266px;
    // padding-left: 70%;
    left: 50%;
    margin-left: 370px;
    position: absolute;
}

.splash-head {
    display: flex;
    flex-direction: column;
    background: #404eed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 626px;
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.splash-head h3 {
    font-size: 60px;
    font-weight: 900;
    color: white;
    z-index: 5;
    width: 600px;
}

.splash-head p {
    font-family: $lato;
    color: white;
    width: 700px;
    z-index: 5;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.second-head {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    width: 100%;
}

.third-head {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background: #f6f6f6;
}

.fourth-head {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    width: 100%;
}

.fifth-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background: #f6f6f6;
}

.fifth-head h3 {
    font-size: 60px;
    font-weight: 900;
    width: 1000px;
}

.last-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}