/* #register-form, 
#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #4f545c;
    color: #b9bbbe;
}

#register-form,
#login-form > h4 {
    color: white;
} */